<h1>My Bulk Discounts</h1>

<% @discounts.each do |discount| %>
  <p><section id='discount-<%= discount.id %>'>
    <%= link_to "#{discount.discount_percentage}% discount on #{discount.item_threshold} items or more", merchant_bulk_discount_path(discount.id) %>
  </p></section>
<% end %>
