<h1>Bulk Discount ID: <%= @discount.id %></h1>

<p> <%= link_to "Edit", edit_merchant_bulk_discount_path(@discount.id)%> </p>
<p><strong>Discount Percentage: <%= @discount.discount_percentage %></strong></p>
<p><strong>Item Threshold: <%= @discount.item_threshold %></strong></p>
