<h1>Bulk Discount ID: <%= @discount.id %></h1>

<p><strong>Discount Percentage: <%= @discount.discount_percentage %></strong></p>
<p><strong>Item Threshold: <%= @discount.item_threshold %></strong></p>
